#   __       __  ________   ______         _______                       __
#  |  \     /  \|        \ /      \       |       \                     |  \
#  | $$\   /  $$ \$$$$$$$$|  $$$$$$\      | $$$$$$$\  ______   _______  | $$   __
#  | $$$\ /  $$$   | $$   | $$___\$$      | $$__/ $$ |      \ |       \ | $$  /  \
#  | $$$$\  $$$$   | $$    \$$    \       | $$    $$  \$$$$$$\| $$$$$$$\| $$_/  $$
#  | $$\$$ $$ $$   | $$    _\$$$$$$\      | $$$$$$$\ /      $$| $$  | $$| $$   $$
#  | $$ \$$$| $$   | $$   |  \__| $$      | $$__/ $$|  $$$$$$$| $$  | $$| $$$$$$\
#  | $$  \$ | $$   | $$    \$$    $$      | $$    $$ \$$    $$| $$  | $$| $$  \$$\
#   \$$      \$$    \$$     \$$$$$$        \$$$$$$$   \$$$$$$$ \$$   \$$ \$$   \$$
#
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
